p.fs-6.mt-2.border-bottom {
    height: 4%;
    font-weight: 500;
}
.del-btn{
    border: none;
    padding-left: 4rem;
    background-color: none;
}
.uploading-outer{
    width: 22rem;
    height: 12rem;
    background-color: white;
    border: dashed lightblue;
    margin-bottom: 2rem;
}
.uploadButton-input{
    visibility: hidden;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .grid-container .grid-item input {
    width: 50%;
    height: 30px;
  }
.contact-grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* background-color: #ffffff; */
  padding: 10px;
}